<!-- views/partials/modal.ejs -->
<div id="global-modal" class="modal inactive animate__animated">
  <div class="modal-inner">
    <button class="modal-close" onclick="closeModal()">×</button>
    <div id="modal-body">
      <!-- Dynamic content goes here -->
    </div>
  </div>
</div>