<nav class="navbar">

    <a href="/notifications" id="alerts" class="sticky-btn">
    <img src="assets/svg/bell.svg" class="bell-icon">
    </a>

    <!-- Desktop Header -->
    <div id="desktop-header">
        <div id="logo">
            <a href="/">
                <img src="/logo.svg" alt="HelloWorld.app Logo">
                <h1>HelloWorld.app</h1>
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/discover">Discover</a></li>
            <li><a href="/communities">Communities</a></li>
            <li><a href="/messages">Messages</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
        <div id="nav-buttons">
            <a href="/login" class="nav-button">
                <img src="assets/svg/login.svg" class="nav-icon" alt="Login Icon">Login</a>
            <a href="/register" class="nav-button">
                <img src="assets/svg/register.svg" class="nav-icon" alt="Register Icon">Register</a>
        </div>
    </div>

    <!-- Responsive Header -->
    <div id="responsive-header"> 
        <a href="/dashboard" id="home" class="nav-button">
            <img src="assets/svg/home.svg">
        </a>
        <a href="/discover" id="search" class="nav-button">
            <img src="assets/svg/discover.svg">
        </a>
        <a href="/communities" id="groups" class="nav-button">
            <img src="assets/svg/communities.svg">
        </a>
        <a href="/messages" id="chat" class="nav-button">
            <img src="assets/svg/messaging.svg">
        </a>
        <a href="/profile" id="profile-settings" class="nav-button">
            <img src="assets/svg/profile-settings.svg">
        </a>
    </div>

</nav>