<nav class="navbar">
    <div id="desktop-header">
        <div id="logo">
            <a href="/">
                <img src="/logo.svg" alt="HelloWorld.app Logo">
                <h1>HelloWorld.app</h1>
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/discover">Discover</a></li>
            <li><a href="/communities">Communities</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
        <div id="nav-buttons">
            <a href="/login" class="nav-button">
                <img src="assets/svg/login.svg" class="nav-icon" alt="Login Icon">Login</a>
            <a href="/register" class="nav-button">
                <img src="assets/svg/register.svg" class="nav-icon" alt="Register Icon">Register</a>
        </div>
    </div>
</nav>