<div id="searchModal" class="search-modal">
    <div class="search-modal-content">
        <span id="closeModal" class="close-modal">&times;</span>
        <div id="modalContent"></div>
    </div>
</div>