# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/
*.lcov

# Dependency directories
node_modules/
web_modules/  # If using Snowpack

# Build output directories (adjust as needed)
dist/
build/
.next/         # Next.js
out/           # Nuxt.js, Next.js
.nuxt/        # Nuxt.js
.vuepress/dist/
.docusaurus/

# Cache directories
.cache/
.parcel-cache/
.rts2_cache/   # Rollup type-script cache
.fusebox/

# Local development environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific files
.DS_Store      # macOS
Thumbs.db      # Windows

# Editor-specific files
.vscode/       # VS Code
.idea/         # JetBrains IDEs


# Package manager files
.npm/
.yarn/

# Other
*.tsbuildinfo  # TypeScript cache