<h2>Pending Friend Requests</h2>

<% if (requests.length === 0) { %>
  <p>No pending requests.</p>
<% } else { %>
  <ul class="friend-request-list">
    <% requests.forEach(request => { %>
    <div class="request">
        <span><strong><%= request.requester.username %></strong> wants to be your friend</span>
        
        <form action="/friends/accept/<%= request._id %>" method="POST" style="display:inline;">
        <button type="submit" class="button">Accept</button>
        </form>

        <form action="/friends/reject/<%= request._id %>" method="POST" style="display:inline;">
        <button type="submit" class="button">Reject</button>
        </form>
    </div>
    <% }) %>
  </ul>
<% } %>