<h1 class="page-title">Your Friends</h1>

<% if (friends.length === 0) { %>
  <p>You don't have any friends yet.</p>
<% } else { %>
  <ul class="friends-list">
    <% friends.forEach(friend => { %>
      <li class="friend-card">
        <a href="/profile/<%= friend._id %>">
          <img src="<%= friend.profilePicture %>" alt="<%= friend.username %>" class="friend-avatar" />
          <span><%= friend.username %></span>
        </a>
      </li>
    <% }) %>
  </ul>
<% } %>