<link rel='stylesheet' href='css/home.css' />

<body>
  <div id="homepage-jumbotron" class="kenburns-container">
    <div id="homepage-jumbo-bg" class="kenburns-bg"></div>

    <div id="home-cta" class="animate__animated animate__fadeInUp animate__delay-2s">
        <img src="/logo.png" id="home-logo" class="">
        <div id="cta-content" class="">
            <h1>HelloWorld</h1>
            <p>Find your people, wherever you are. Join communities, discover events, and connect in real time—with smart features that speak your language.</p>
            <a href="/register">
                <button class="btn animate__animated animate__fadeIn animate__delay-3s">Register</button>
            </a>
            <a href="/login">
                <button class="btn animate__animated animate__fadeIn animate__delay-3s">Login</button>
            </a>
        </div>
    </div>

  </div>
  <script type="module" src="/js/index.js" defer></script>