<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <link rel='stylesheet' href='/styles.css' />
  <link rel='stylesheet' href='css/home.css' />
  <link rel='stylesheet' href='css/effects.css' />
  <link rel="stylesheet" href="https://use.typekit.net/yrl0zql.css">
</head>
<body>
    <div id="homepage-jumbotron" class="kenburns-container">
        <div id="homepage-jumbo-bg" class="kenburns-bg">
        </div>
    </div>

    <%- include('partials/navbar') %>
</body>
</html>