<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <link rel='stylesheet' href='/styles.css' />
  <link rel='stylesheet' href='css/home.css' />
  <link rel='stylesheet' href='css/effects.css' />
  <link rel="stylesheet" href="https://use.typekit.net/yrl0zql.css">
</head>
<body>
    <div id="homepage-jumbotron" class="kenburns-container">
        <div id="homepage-jumbo-bg" class="kenburns-bg"></div>

        <div id="welcome" class="container fade-in-group fade-in">
            <img src="/logo.svg" class="logo" alt="App Logo">
            <h1 class="fade-in">Hello World</h1>
            <p class="fade-in">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <a href="/register" class="button fade-in">
                <img src="assets/svg/register.svg" class="nav-icon" alt="Register Icon">Register your account!</a>
        </div>
    </div>

    <%- include('partials/navbar') %>

    <script type="module" src="/js/index.js" defer></script>
</body>
</html>