<div class="page-title">
  <h1>One on One Message with [Placeholder]</h1>
</div>
<ul>
	<% users.forEach(user => { %>
	<li><a href="/messages/<%= user._id %>"><%= user.username %></a></li>
	<% }) %>
</ul>

<form method="POST" action="/messages/<%= otherUser._id %>">
	<input
	type="text"
	name="text"
	placeholder="Type your message..."
	required
	style="padding: 8px; width: 80%;"
	/>
	<button type="submit" style="padding: 8px;">Send</button>
</form>

<script src="/js/messages.js"></script>