/* ===================
   USER DASHBOARD HOME
   =================== */
.home-profile-bg {
  width: 200px; /* or fixed like 200px */
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px; /* optional */
}

#user-map {
    height: 300px;
    width: 300px;
}

/* =====================
   RESPONSIVITY SETTINGS
   ===================== */

@media screen and (max-width: 800px) {
}
