/* === KEN BURNS PANNING EFFECT === */

.kenburns-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .kenburns-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    animation: kenburns-mobile 60s linear infinite alternate;
    z-index: 0 !important;
  }
  
  @keyframes kenburns-mobile {
    0% {
      background-size: auto 130%;
      background-position: left center;
    }
    100% {
      background-size: auto 130%;
      background-position: right center;
    }
  }
  
  /* Responsive adjustments */
  @media screen and (max-width: 1025px) {

    .kenburns-bg {
      animation: kenburns-mobile 40s linear infinite alternate;
    }

    @keyframes kenburns-mobile {
        0% {
          background-size: auto 180%;
          background-position: left center;
        }
        100% {
          background-size: auto 180%;
          background-position: right center;
        }
      }

  }

  @media (orientation: landscape) {
    .kenburns-bg {
      background-size: 120% auto; /* Adapt for landscape devices */
    }
  }