#page-header {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('/assets/imgs/homepage.jpeg');
    background-size: cover;
    background-position: center center;
}

#welcome {
    flex-direction: column;
}

/* =====================
   RESPONSIVITY SETTINGS
   ===================== */

/*** DESKTOP SETTINGS ***/



/*** RESPONSIVE SETTINGS ***/
@media screen and (max-width: 1024px) {

    #page-header {
        background-position: top;
        height: 50vh !important;
        border-radius: 0px 0px 16px 16px;
        box-shadow: 0px 5px 6px -2px #00000040;
    }

}