#register {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 100vh;
}

#register-content {
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text) !important;
    gap: 20px;
    padding: 5%;
}

#register-content h1 {
    background: #058240;
    background: linear-gradient(to top right, #058240 0%, #87C159 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: clamp(64px, 8vw, 88px);
    text-shadow: 2px 2px 2px #00000020;
    margin-bottom: -20px;
}

#register-content h2 {
    font-family: 'sirenia', serif;
    font-style: italic;
    font-weight: normal;
}

#register-cta {
    width: 50%;
    background-size: cover;
    background-position: center center;
}

#register-img {
    background-image: url('/assets/imgs/register.jpeg');
}

#register-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 20px 0;
}

#register-form button {
    width: 50%;
}

#register-form input {
    border: 0;
    border-radius: 5px;
    font-family: 'brevia', sans-serif;
    text-align: center;
    color: var(--text);
    padding: 10px;
    box-shadow: 2px 2px 4px -1px #00000040;
}

#register-form input::placeholder {
    color: #999;
}

/*** RESPONSIVE SETTINGS ***/

@media screen and (max-width: 1024px) {
    
    #register {
        flex-direction: column !important;
        padding-bottom: 80px;
    }

    #register-content {
        width: 100vw;
        justify-content: flex-start;
        padding: 20px 0;
    }

    #register-content p {
        max-width: 85%;
    }

    #register-cta {
        width: 100vw;
        height: 50vh;
        box-shadow: 0px 5px 6px -2px #00000040;
    }

    #register-form {
        flex-direction: column;
        gap: 0;
    }

    #register-form button {
        width: 300px;
        margin: 10px 0;
    }

    #register-form input {
        width: 100%;
        max-width: 290px;
        margin: 10px 0;
    }
}