<h1 class="page-title">Your Friends</h1>

<% if (friends.length === 0) { %>
  <p>You don't have any friends yet.</p>
<% } else { %>
  <ul class="friends-list">
    <% friends.forEach(friend => { %>
      <li class="friend-card">
        <div>
          <strong><%= friend.name || friend.username %></strong><br>
          <%= friend.email %>
        </div>
        <div>
          <a href="/messages/<%= friend._id %>" class="btn">Message</a>
        </div>
        <form action="/friends/remove/<%= friend._id %>" method="POST" style="display:inline;">
          <button class="button danger" type="submit">Remove</button>
        </form>
      </li>
    <% }) %>
  </ul>
<% } %>