:root {
    --primary: #87C159;
    --secondary: #ADCACB;
    --accent1: #F3C301;
    --accent2: #FEE3A2;
    --text: #058240;
    --background: #f0f0f0;
}

body {
    font-family: 'brevia', sans-serif;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-family: 'sirenia', serif;
    color: var(--primary);
}

.container {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: var(--secondary);
}

.navbar {
    display: flex;
}

#desktop-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw !important;
    height: 85px;
}

#desktop-header a {
    text-decoration: none !important;
    font-weight: 600;
}

#desktop-header #logo a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#desktop-header #logo h1 {
    background: #058240;
    background: linear-gradient(to bottom, #058240 0%, #ADCACB 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
}

#desktop-header #logo img {
    width: 64px;
}

#desktop-header #nav-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

#desktop-header .nav-button {
    background-color: var(--text);
    display: flex !important;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 8px;
    color: var(--background) !important;
    text-transform: uppercase;
    border-radius: 5px;
}

#desktop-header .nav-icon {
    display: inline-block;
    width: 20px;
}

#desktop-header .nav-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}